[Desktop Entry]
Type=Application
Name=starvaxplayer
GenericName=Starvax Me.Te.Or. player
Exec=starvaxplayer
Comment=stage in your hands
Icon=starvax
Terminal=false
Categories=AudioVideo;
